@import '~@fullcalendar/daygrid/main.css';

.App {
  text-align: center;
  padding: 30px;
  font-family: 'Raleway', sans-serif;
}

.fc .fc-col-header-cell-cushion {
  display: block;
  padding: 2px 4px;
  background-color: #e6f0f4;
}

/* .fc-h-event .fc-event-title-container{
  background-color: #b0bec5;
} */

.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width, 8px) / 2) solid var(--fc-event-border-color, red)
}

.fc-daygrid-event-harness {
  padding-left: 5px;
}
.fc-h-event {
  width: 40%;
  font-size: 12px;
  text-align: center;
  background-color: #f8eb76;
  border: none;
}
.fc-event-title {
  font-family: 'Nanum Gothic', sans-serif;
  color: rgb(41, 39, 39);
  font-weight: 700;  
}

.fc-daygrid-dot-event .fc-event-title {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
}

.fc-daygrid-dot-event .fc-event-time {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
}

/* 주말 색깔 지정 */
.fc-day-sat {
  color: blue;
}
.fc-day-sun {
  color: red;
}


/* 로그인 */
.kakao-login {
  cursor: pointer;
  vertical-align: middle;
}


