@import "~@fullcalendar/daygrid/main.css";
/* 구글폰트  */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Playfair+Display&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Fuzzy+Bubbles&family=Playfair+Display&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");

html {
  height: 100%;
}
body { 
  min-height: 100vh; 
}

#root {
  min-height: 100vh;
}

body > #root > div {
  min-height: 100vh;
  position: relative;
}

.body {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  max-width: 768px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

/* fullcalendar  */

.fc {
  margin: auto 2%;
}

.fc .fc-col-header-cell-cushion {
  display: block;
  padding: 3px 4px;
}

.fc-col-header-cell-cushion {
  font-size: 3vw;
  font-weight: 500;
  opacity: 0.5;
}

.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width, 8px) / 2) solid
    var(--fc-event-border-color, red);
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-top: 1.5em;
}

.fc .fc-toolbar-title {
  font-size: 5vw;
  font-weight: 400;
  padding-top: 2vw;
}

.fc-h-event {
  position: absolute;
  left: 43%;
  transform: translateX(-43%);
  width: 3em;
  height: 3em;
  font-size: 0.6em;
  text-align: center;
  background-color: #f8eb76;
  opacity: 70%;
  border-radius: 50%;
  border: none;
  font-weight: 800;
}
.fc-event-main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.fc-event-title {
  font-family: "Nanum Gothic", sans-serif;
  color: rgb(41, 39, 39);
}

.fc .fc-daygrid-day-number {
  font-size: 2vw;
}

.fc-daygrid-dot-event .fc-event-title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
}

.fc-daygrid-dot-event .fc-event-time {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
}

.loding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.css-z81eeg-MuiSvgIcon-root {
  margin-right: 0.4em;
}

.css-18lrjg1-MuiCircularProgress-root {
  display: block !important;
}

.css-mxt2yf-MuiListItemText-root {
  margin-right: 8px;
}

/* 주말 색깔 지정 */
.fc-day-sat {
  color: blue;
}
.fc-day-sun {
  color: red;
}

#logo-main,
#logo-main2 {
  font-size: 45px;
  font-weight: 600;
}

#logo-main2 {
  display: inline-block;
}

.in-main {
  font-family: "Nanum Myeongjo", serif !important;
  font-size: 10vw !important;
  font-weight: 800 !important;
}

.login-page {
  padding-top: 20%;
}
.login-logo {
  padding: 10% 15%;
  text-align: center;
}

.login-line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 14px;
  margin: 8px 0px;
  padding-bottom: 15%;
}
.login-line:before {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(192, 189, 189);
  height: 1px;
  font-size: 1px;
  line-height: 0px;
}
.login-line:after {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(192, 189, 189);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.loginImg {
  display: flex;
  justify-content: center;
}

/* 로그인 */
a {
  display: block;
}
.kakao-login {
  position: absolute;
  transform: translateY(-75%);
  width: 60px;
  border-radius: 50%;
}

.main-top {
  /* background-color: bisque; */
  height: 60%;
  padding: 5vw 0 10vw 5vw;
  display: flex;
  justify-content: space-between;
}

.greeting {
  font-size: 10vw;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  box-shadow: inset 0 -15px 0 rgb(255, 253, 129);
  white-space: pre-wrap;
  text-align: right;
}
.greeting2 {
  font-size: 10vw;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  box-shadow: inset 0 -15px 0 rgb(255, 253, 129);
  display: inline-block;
}

.userHi {
  text-align: left;
  padding-left: 5vw;
  padding-bottom: 2%;
  margin: 0;
  font-weight: 500;
  font-size: 3.7vw;
  box-sizing: border-box;
}
.userHi2 {
  text-align: left;
  padding-left: 5vw;
  padding-bottom: 10%;
  margin: 0;
  font-weight: 500;
  font-size: 3.7vw;
  box-sizing: border-box;
}

.adminArrow {
  padding-bottom: 5%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
}

.main-bottom {
  margin: 0 5vw 0vw 5vw;
  padding-bottom: 20vw;
}

.todayList {
  border-bottom: 1px solid rgb(192, 189, 189);
  padding-bottom: 10px;
  text-align: left;
  font-weight: 500;
  font-size: 4vw;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(207, 207, 205) !important;
}

/* 출석등록페이지 CSS */
.select {
  font-size: 3vw;
  font-weight: 400;
  color: red;
}

.calendarIcon {
  vertical-align: middle;
}
.css-1gjgmky-MuiToggleButtonGroup-root {
  width: 100%;
  display: block !important;
}

.meal {
  padding-left: 5px;
}

.showPlaces {
  margin-top: 4%;
}

.notificationMessage {
  text-align: center;
  color: rgb(156, 154, 154);
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root,
.css-1d6a3hl-MuiPaper-root-MuiAppBar-root {
  right: auto !important;
}

.inactive-container {
  padding-top: 5%;
}

/* 미디어쿼리 */
@media screen and (min-width: 768px) {

  body {
    width: 768px;
    margin: 0 auto;
    border-left: 1px solid rgb(192, 189, 189);
    border-right: 1px solid rgb(192, 189, 189);
  }

  .login-page {
    padding-top: 0%;
  }
  .login-logo {
    padding: 10% 20%;
    padding-top: 2%;
    text-align: center;
  }
  .login-line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 14px;
    margin: 8px 0px;
    padding-bottom: 10%;
  }

  .kakao-login {
    position: absolute;
    transform: translateY(-75%);
    max-width: 80px;
    max-height: 80px;
  }

  .main-top {
    height: 60%;
    padding: 5vw 0 62px 5vw;
  }

  .in-main {
    font-family: "Nanum Myeongjo", serif !important;
    font-size: 60px !important;
    font-weight: 800 !important;
  }

  .greeting {
    font-size: 40px;
    font-weight: 700;
    box-shadow: inset 0 -35% 0 rgb(251, 249, 115);
  }
  .greeting2 {
    font-size: 40px;
    font-weight: 700;
    box-shadow: inset 0 -35% 0 rgb(251, 249, 115);
    display: inline-block;
  }

  #logo-main,
  #logo-main2 {
    font-size: 70px;
    font-weight: 600;
  }
  #logo-main2 {
    display: inline-block;
  }

  .userHi {
    font-size: 1.3vw;
    padding-bottom: 1%;
  }

  .userHi2 {
    padding-bottom: 7%;
    font-size: 1.3vw;
  }

  .todayList {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
  }

  .navbar {
    max-width: 768px;
    right: auto !important;
  }
  .css-w54wyp {
    padding-bottom: 10% !important;
  }
  .fc {
    max-width: 700px !important;
    margin: auto;
    padding-bottom: 20%;
  }

  .fc .fc-toolbar-title {
    font-size: 1.8em;
  }

  .fc-col-header-cell-cushion {
    font-size: 1.2em;
  }
  .fc .fc-daygrid-day-number {
    font-size: 1em;
  }

  .circularprogress {
    width: 5vw !important;
    height: 5vw !important;
  }
}

@media screen and (max-width: 768px) {
  .css-w54wyp {
    padding-bottom: 80px !important;
  }
  .fc-col-header-cell-cushion {
    font-size: 3vw;
  }
  .fc .fc-daygrid-day-number {
    font-size: 2vw;
  }
  .inactive-container {
    padding-bottom: 30vw;
  }
}
